<table class="table table-condensed table-striped">
  <thead>
    <th id="airline">Airline</th>
    <th id="origin">Origin</th>
    <th id="destination">Destination</th>
    <th id="departure_info">Departure Time</th>
    <th id="arrival_info">Arrival Time</th>
    <th id="seats_avail">Seats Available</th>
    <th id="price">Price</th>
    <th id="reservation_column"></th>
  </thead>
  <tbody id="flight_table_tbody">
        <tr id="flight0">
            <td id="0airline">I'm a fuckup</td>
            <td id="0origin">I'm a fuckup</td>
            <td id="0destination">I'm a fuckup</td>
            <td id="0departure_info">I'm a fuckup</td>
            <td id="0arrival_info">I'm a fuckup</td>
            <td id="0seats_avail">I'm a fuckup</td>
            <td id="0price">I'm a fuckup</td>
            <td id="0reservation"><button type="button" class="btn btn-primary">Reserve Flight</button></td>
        </tr>
        <tr id="flight1">
            <td>I'm a fuckup</td>
            <td>I'm a fuckup</td>
            <td>I'm a fuckup</td>
            <td>I'm a fuckup</td>
            <td>I'm a fuckup</td>
            <td>I'm a fuckup</td>
            <td>I'm a fuckup</td>
            <td><button type="button" class="btn btn-primary">Reserve Flight</button></td>
        </tr>
  </tbody>
</table>