<table class="table table-condensed" style="border">
  <thead>
    <th id="airline">Airline</th>
    <th id="origin">Origin</th>
    <th id="destination">Destination</th>
    <th id="departure_info">Departure Time</th>
    <th id="arrival_info">Arrival Time</th>
    <th id="seats_avail">Seats Available</th>
    <th id="price">Price</th>
    <th id="reservation_column"></th>
  </thead>
  <tbody id="flight_table_tbody">
        <tr id="flight0">
            <td>I'm a fuckup</td>
        </tr>
  </tbody>
</table>