<html>
	<%#Partialed out for use in AJAX Calls %>
	<%#= will_paginate %>
	<div class="dropdowns">
		<%= render :partial => 'selects', locals: {airlines: @airlines, origins: @origins, destinations: @destinations, display_prices: @display_prices}%>
	</div>
	<%#= will_paginate %>

	

	<div id="flight_table">
	<%# if current_user.market_item_summaries.pluck('entity').uniq.include?(1)%>
	  <%= render :partial => 'flight_table', locals: {flights: @flights, origins: @origins}%>
	  
	<%# end %>
	<br></br>
	</div>

	<%#= will_paginate %>

</html>